.section {
    background-color: #151722;
    height: 100vh;
    padding: 5px;
}

.formAlignment {
    align-items: flex-start;
    margin: auto;
    padding: 10px;
}

.searchBar {
    text-align: center;
}

/* currentWeather Styling */
.currentWeatherTitle {
    margin: 0;
    padding: 10px;
}

.currentWeatherContainer {
    display: flex;
    background-color: #28282B;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
}

.currentWeatherContainerMargin {
    margin: auto;
    width: 500px;
    height: 200px;
    border-radius: 5px;
}

.currentWeatherTextFormat {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.currentForecastContainerFormat {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}


/* foreCastHeader */
.foreCastHeader {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    height: 35px;
    margin: auto;
}

.foreCastTitle{
margin-top: 10px;
}

/* foreCast section styling */
.forecastOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.forecastCard {
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.forecastContainerFormat {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

